#============================================================================
# CONEXÃO ===================================================================
#============================================================================
endpoint_add_tcp "0.0.0.0:30110"
endpoint_add_udp "0.0.0.0:30110"
#============================================================================
set mysql_connection_string "server=127.0.0.1;database=vltrp;userid=root;password=;Allow User Variables=true"
#============================================================================
# RESOURCES =================================================================
#============================================================================
start chat
start fivem
start vitality_oficial
start vitalitymanager
start sessionmanager
start spawnmanager
start ServerSync
start tokovoip_script
#start vitality_ac #lembrem de tirar as dependências
# CONECT DB =================================================================
ensure mysql-async
start GHMattiMySQL
start vrp_ghmattimysql
# GCPHONE ===================================================================
ensure gcphone
# VRP =======================================================================
start vrp
start vrp_admin
start vrp_animacoes
start vrp_barbershop
start vrp_chest
start vrp_clean
start vrp_doors
start vrp_emergencyblips
start vrp_garages
start vrp_homes
start vrp_hospital
ensure vrp_hud
start vrp_ignore
start vrp_interiores
start vrp_legacyfuel
start vrp_login
start vrp_lscustoms
start vrp_medsystem
start vrp_misc
ensure vrp_names
start vrp_notify
start vrp_player
start vrp_policia
start vrp_progressbar
start vrp_radio
start vrp_realista
start vrp_sounds
start vrp_tattoos
start vrp_trunkchest
start vrp_visualsettings
start vrp_vlbank
# EMPREGOS ==================================================================
start vitality_lixeiro
start vitality_corrida
start vitality_busao
# FARMS ===============================================================
ensure vitality_craftweapons #bloods e creps
ensure vitality_dismantle #desmanche (da p por 2, está apenas para o ilegal)
ensure vitality_drugsale #venda de drogas
ensure vitality_lavagem #lavagem
ensure vitality_mechanic #farm mecanico
ensure vitality_rout_a #rota de armas
ensure vitality_rout_l #rota de lavagem
ensure vitality_rout_m #rota de muni
ensure vitality_craft #/craft padrão com itens do lixeiro
ensure vitality_drogas #venda de drogas (todas ao mesmo tempo)
start vitality_rout_drugs #rota de craft de drogas
ensure vitality_farm_misc #uma gambiarra que fizeram para as munições e eu fiquei com preguiça de tirar
# VITALITY  =====================================================================
start vitality_dealership #padrão
start vitality_identidade #só mudou cor
start vitality_inventory #o de sempre
ensure vitality_skinshop #normal
ensure vitality_homes #padrão
# MAP ======================================================================
start vitality_mapas_misc #o básiico
start vitality_hospital #mais leve
# NAV =======================================================================
start vitality_elev_l #ELEVADOR DA LAVAGEM 1	
start vitality_vendas #CONTRABANDO
start vitality_fastdraw #SAQUE
start vitality_extras #EXTRAS POLICIA
start vitality_weaponsale #AMMU
start vitality_departsale #LOJA
start vitality_arsenal #ARSENAL
# MISC ======================================================================
start vitality-personagem
start vitality-vcontrole
start mhacking
ensure minimap
start vitality_animacoes
# ROUBOS ====================================================================
start vitality_stealbank 
start primo_roubos
#============================================================================
# CONFIGURAÇÕES GERAIS ======================================================
#============================================================================
sv_hostname "Vitality V3 | oPrimo"
sv_maxclients 32
#sv_master1 "" 
sets Discord ""
sets locale "pt-BR"
sets tags "prmo?"
# CONFIGURAÇÕES VISUAIS =====================================================
load_server_icon "vl.png" # Logo do servidor na lista de servidores. ( Resolução: 96x96 .png )	
# CONFIG PORTA PRIVADA & SCRIPHOOK ==========================================
sv_scriptHookAllowed 0
sv_endpointprivacy true
# CONFIG PERMISSÃO GERAL SERVER =============================================
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace identifier.steam:1100001421092f9 "command.hypnonema" allow
add_principal identifier.steam:11000010fd1638c group.admin #Primo
add_principal identifier.steam:11000010fd1638c group.sync #Primo
# CONFIG PERMISSÃO SYNC SERVER===============================================
add_ace group.sync "changeWeather" allow
add_ace group.sync "changeTime" allow
add_ace group.sync "freezeTime" allow
add_ace group.sync command.weather allow
add_ace group.sync command.time allow
add_ace group.sync command.freezetime allow
# CONFIGURAÇÕES ONESYNC =====================================================
onesync_enabled true
onesync_distanceCullVehicles true            #dependendo da sua key r$
onesync_forceMigration true
set onesync_enableInfinity 1 
#============================================================================
# CHAVES ====================================================================
#============================================================================
set steam_webApiKey "" # Adquira em: https://steamcommunity.com/dev/apikey

sv_licenseKey  # Adquira em: https://keymaster.fivem.net/
